<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Know Your Graph</title>
</head>
<body>

<div class="container-fluid" style="margin-left: -32px;">

  <div class="row">
    <%= render 'user_console/common/navbar' %>
  </div>

  <div class="row" style="margin-top: 18px;">
    <div class="col-sm-3 col-lg-2">
      <%= render 'user_console/common/sidebar'%>
    </div>

    <div class="col-sm-9 col-lg-10">
      <!-- your page content -->
    </div>
  </div>
</div>
</body>
</html>