<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>

<%= javascript_include_tag 'common/jquery-3.2.1.min' %>

<script type="text/javascript">
//    $("body").ready(
//        function(){
//            alert('jquery is loading.');
//        }
//    );
    $("#commit").click(function(){
        alert('clicked!');
    })
</script>
